@model User

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<form method="post" asp-action="Edit">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit User</h2>
            <hr/>
        </div>
        @* get all message validation on top *@
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            @* don't need "Name" when we have asp-for *@
            <label asp-for="name"></label>
            <input asp-for="name" class="form-control" />
            <span asp-validation-for="name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="email"></label>
            <input asp-for="email" class="form-control" />
            <span asp-validation-for="email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="password"></label>
            <input asp-for="password" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary" style="width: 150px">Update</button>
        <a asp-controller="Users" asp-action="Index" class="btn btn-primary" style="width: 150px">Back to list</a>
    </div>
</form>

    @* Make all validation done in client side(Not reload everytime when click button) that make web faster  *@
@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}
